.intro{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}

.intro-card{
    margin-top: 10%;
    width: 98%;
    height: 50%;
    background-color: #E1DDCB !important;
}

@media screen and (max-width: 480px) {
    .intro-card{
        margin-top: 5%;
        width: 90%;

        background-color: #E1DDCB !important;
    }
    
}