.top-label{
    display: flex;
    justify-content: space-between;
    padding-inline: 7%;
    padding-top: 25px;
    position: fixed;
    width:80vw;
}

.chip{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .top-label{
        display: flex;
        justify-content: space-between;
        padding-inline: 7%;
        padding-top: 25px;
        position: fixed;
        width:85vw;
    }
}